* {
  font-family: futura-pt, sans-serif;
  &::-moz-selection {
    background: $accent;
  }
  &::selection {
    background: $accent;
  }
}

// typografie
.outline {
  -webkit-text-stroke-color: $black;
  -webkit-text-stroke-width: 2.5px;
  color: transparent;
}
h3 {
  font-size: 1.75rem;
}
.read-text {
  font-family: "Lato", sans-serif;
  font-size: 1.55rem;
  line-height: 2.75rem;
}

.bold {
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// colors
.text-darkgrey {
  color: $darkgrey;
}
.text-grey,
.muted-text {
  color: $grey;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-accent {
  color: $accent;
}

// margin - padding
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.mt-section {
  margin-top: 200px;
  @media (min-width: 1000px) {
    margin-top: 300px;
  }
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.mt-40 {
  margin-top: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.mr-small {
  margin-right: 7px;
}

.ml-small {
  margin-left: 7px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-50 {
  margin-left: 50px;
}
.mr-100 {
  margin-right: 100px;
}

.ml-100 {
  margin-left: 100px;
}
.mr-75 {
  margin-right: 75px;
}

.ml-75 {
  margin-left: 75px;
}
// general elements
.image-name-card {
  .card-body {
    background: $superlightgrey;
    padding: 1.5rem 2rem;
    .card-information {
      color: $grey;
    }
  }
}

// helper
a,
.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: black;
  }
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

// custom container sizing
.image-container-wrapper {
  div {
    margin-bottom: 20px;
    @media screen and (min-width: 786px) {
      margin-bottom: 40px;
    }
  }
  .swap-item-container {
    margin-bottom: 0;
  }
}
.full-image-container,
.half-image-container,
.vertical-half-image-container {
  padding-top: 20px;
  @media screen and (min-width: 786px) {
    padding-top: 40px;
  }
}

.full-image-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  @media screen and (min-width: 786px) {
    grid-gap: 40px;
  }
}

.half-image-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  @media screen and (min-width: 786px) {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.vertical-half-image-container {
  .vertical {
    grid-area: vertical;
    height: auto;
    @media screen and (min-width: 786px) {
      height: 100%;
    }
    .swap-item {
      height: 100%;
      width: 100%;
    }
  }
  .half1 {
    grid-area: half1;
  }
  .half2 {
    grid-area: half2;
  }
  display: grid;
  grid-template:
    "half1"
    "vertical"
    "half2";
  grid-gap: 20px;
  @media screen and (min-width: 786px) {
    grid-gap: 40px;
    grid-template:
      "vertical half1"
      "vertical half2";
  }
}

.vertical-half-image-container.swap-container,
.vertical-half-image-container-reverse.swap-container {
  max-width: none;
  width: 100%;
  height: 100%;
}

.vertical-half-image-container-reverse {
  .vertical {
    grid-area: vertical;
    height: auto;
    @media screen and (min-width: 786px) {
      height: 100%;
    }

    .swap-item {
      height: 100%;
      width: 100%;
    }
  }
  .half1 {
    grid-area: half1;
  }
  .half2 {
    grid-area: half2;
  }
  display: grid;
  grid-template:
    "half1"
    "vertical"
    "half2";
  grid-gap: 20px;
  @media screen and (min-width: 786px) {
    grid-gap: 40px;
    grid-template:
      "half1 vertical"
      "half2 vertical";
  }
}

// general container sizing

.full-width,
.full-image-container {
  width: 100%;
  img {
    width: 100%;
  }
}

.half-width {
  width: 50%;
  display: inline-block;
}

.hide-flex-on-mobile {
  display: none !important;
  @media screen and (min-width: 786px) {
    display: flex !important;
  }
}

.hide-on-mobile {
  display: none;
  @media screen and (min-width: 786px) {
    display: initial;
  }
}

#scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background-color: $accent;
}

// cta
.cta-scroll-container {
  display: none;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  animation: cta-scroll 2000ms linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  @media screen and (min-width: 786px) {
    display: block;
  }
  i {
    font-size: 2.5em;
  }
}

@keyframes cta-scroll {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 50px;
  }
}

.rotate-180 {
  transition: transform 1000ms cubic-bezier(0.87, 0, 0.13, 1);
  transform: rotate(180deg);
}

.rotate-45-neg {
  transform: rotate(-45deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-90-neg {
  transform: rotate(-90deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.fadeOut {
  transition: opacity 500ms ease-in-out;
  opacity: 0 !important;
}

.l-shape-corner {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  width: 10px;
  height: 10px;
}

.max-container {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
}

// textures
.large-line {
  width: 5px;
  height: 160px;
}

.mid-line {
  width: 5px;
  height: 40px;
}

.square {
  width: 5px;
  height: 5px;
}

.cross {
  width: 5px;
  height: 5px;
}

.black {
  background: $black;
}

.black-border {
  border-color: $black;
}

.yellow {
  background: $accent;
}
