.loading-screen {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $toplayer * 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .inner-container {
    position: relative;
    width: 250px;
  }
  .progress-bar {
    position: absolute;
    left: 0;
    background-color: black;
    width: 0;
    height: 3px;
  }
}
