// color
$accent: #ffda48;
$black: #000000;

$darkgrey: #666666;
$grey: rgba(0, 0, 0, 0.5);
$lightgrey: #aaaaaa;
$superlightgrey: rgba(0, 0, 0, 0.05);

$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.95);

$lightshadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);
$mediumshadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
$darkshadow: 0 10px 20px 0px rgba(0, 0, 0, 0.25);

// z-index
$toplayer: 1000;
