.video-js {
    &:hover .vjs-big-play-button {
        transform: translate(-50%, -50%) scale(1.25) !important;
        transition: transform 300ms ease-in-out;
    }
    .vjs-big-play-button {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%) !important;
        border: 0 !important;
        background: transparent !important;
        font-size: 9em !important;

        .vjs-icon-placeholder {
            color: #fff !important;
        }
    }
}