<!-- contact footer -->
<footer class="light-footer">
    <div class="container">
        <div class="row footer-bottom-container mt-section">
            <p class="company-label col-md-4">Copyright &copy;
                {{ site.time | date: '%Y' }}
                - Legarti UG (h.b.)</p>
            <div class="social-container col-md-4">
                <a class="social-link" href="https://www.facebook.com/legarti.agency/">
                    <i class="fab fa-facebook-square  read-text"></i>
                </a>
                <a class="social-link" href="https://www.instagram.com/legarti.agency/">
                    <i class="fab fa-instagram  read-text"></i>
                </a>
                <a class="social-link" href="https://www.behance.net/legartiagency">
                    <i class="fab fa-behance  read-text"></i>
                </a>
            </div>
            <div class="rights-container col-md-4 ">
                <a class="rights-link text-black" href="/impressum">impressum</a>
                <a class="rights-link text-black" href="/datenschutz">datenschutz</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>