<!-- contact footer -->
<footer class="light-footer">
  <div class="container">
    <div class="row footer-bottom-container mt-section">
      <p class="company-label col-md-4 ">Legarti UG (h.b.)</p>
      <div class="social-container col-md-4">
        <a href="" class="social-link">
          <i class="fab fa-facebook-square  read-text"></i>
        </a>
        <a href="" class="social-link">
          <i class="fab fa-instagram  read-text"></i>
        </a>
        <a href="https://www.behance.net/legartiagency" class="social-link">
          <i class="fab fa-behance  read-text"></i>
        </a>
      </div>
      <div class="rights-container col-md-4 ">
        <a href="" class="rights-link text-black">impressum</a>
        <a href="" class="rights-link text-black">datenschutz</a>
      </div>
    </div>
  </div>
</footer>
