<!-- Footer Dark-->
<footer class="main-footer dark-footer mt-section">
    <div class="container">
        <div class="row content-container text-center">
            <h2 class="headline">fragen kostet nix.</h2>
            <p class="sub-headline mt-30">
                Wir haben Bock, was zu schaffen.<br/>Lass es Dein Projekt sein.
            </p>
            <div class="mt-50">
                <div class="container button-container">
                    <a class="button button-on-dark" href="/contact">let's talk</a>
                </div>
            </div>
        </div>
        <div class="row footer-bottom-container mt-section mb-30">
            <p class="company-label col-md-4 text-white">Copyright &copy;
                {{ site.time | date: '%Y' }}
                - Legarti UG (h.b.)</p>
            <div class="social-container col-md-4">
                <a class="social-link" href="https://www.facebook.com/legarti.agency/">
                    <i class="fab fa-facebook-square text-white read-text"></i>
                </a>
                <a class="social-link" href="https://www.instagram.com/legarti.agency/">
                    <i class="fab fa-instagram text-white read-text"></i>
                </a>
                <a class="social-link" href="https://www.behance.net/legartiagency">
                    <i class="fab fa-behance text-white read-text"></i>
                </a>
            </div>
            <div class="rights-container col-md-4 ">
                <a class="rights-link text-white" href="/impressum">impressum</a>
                <a class="rights-link text-white" href="/datenschutz">datenschutz</a>
            </div>
        </div>
    </div>
</footer>
