<!-- Footer Dark-->
<footer class="main-footer dark-footer mt-section">
  <div class="container">
    <div class="row content-container text-center">
      <h2 class="headline">fragen kostet nix.</h2>
      <p class="sub-headline mt-30">
        Wir haben Bock, was zu schaffen.<br />Lass es Dein Projekt sein.
      </p>
      <div class="mt-50">
        <div class="container button-container">
          <a href="/contact" class="button button-on-dark">let's talk</a>
        </div>
      </div>
    </div>
    <div class="row footer-bottom-container mt-section mb-30">
      <p class="company-label col-md-4 text-white">Legarti UG (h.b.)</p>
      <div class="social-container col-md-4">
        <a href="" class="social-link">
          <i class="fab fa-facebook-square text-white read-text"></i>
        </a>
        <a href="" class="social-link">
          <i class="fab fa-instagram text-white read-text"></i>
        </a>
        <a href="https://www.behance.net/legartiagency" class="social-link">
          <i class="fab fa-behance text-white read-text"></i>
        </a>
      </div>
      <div class="rights-container col-md-4 ">
        <a href="" class="rights-link text-white">impressum</a>
        <a href="" class="rights-link text-white">datenschutz</a>
      </div>
    </div>
  </div>
</footer>
