<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>{{ site.title }} - {{ page.title }}</title>
    <!-- styling -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css"/>
    <link rel="shortcut icon" href="{{site.baseurl}}/fav.ico" type="image/x-icon">
    {%- if page.video -%}
        <link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
    {%- endif -%}
    <!-- fonts/icons -->
    <link href="https://use.typekit.net/sdp7lpt.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/3c6787fea1.js"></script>
</head>