<!-- Navigation -->
<nav class="main-navigation">
    <div class="logo-container">
        <a href="/">
            <img src="{{ site.baseurl }}/assets/img/logo/logo-white.svg" alt="legarti agency - webseiten branding videos agentur aus bergkamen, kamen, dortmund, hamm und umgebung"/></a>
    </div>
    <div class="brand-name-container">
        <p class="brand-name bold">LEGARTI<span class="light">AGENCY</span>
        </p>
    </div>
    <div class="menu-toggle-container dark">
        <div class="menu-toggle-stripe"></div>
        <div class="menu-toggle-stripe"></div>
        <div class="menu-toggle-stripe stripe-short"></div>
    </div>
</nav>
<!-- Menu -->
<div class="main-menu idle">
    <div class="close-button-container text-left full-width">
        <img src="{{ site.baseurl }}/assets/img/icons/closebtn.svg" alt="" class="close-button pointer"/>
    </div>
    <div class="menu-link-container">
        <ul class="menu-link-list text-center">
            <li class="bold menu-link-item {% if page.url == '/'%} active {% endif %}">
                <a href="/">
                    startseite
                </a>
            </li>
            <li class="bold menu-link-item {% if page.url == '/projects.html'%} active {% endif %}">
                <a href="/projects">
                    projekte
                </a>
            </li>
            <li class="bold menu-link-item {% if page.url == '/social.html'%} active {% endif %}">
                <a href="/social">
                    agentur
                </a>
            </li>
            <li class="bold menu-link-item {% if page.url == '/contact.html'%} active {% endif %}">
                <a href="/contact">
                    kontakt
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-footer-container text-center">
        <p class="text-grey bold">einfach ma' hallo sagen</p>
        <p class="text-black light">hallo@legarti.agency</p>
    </div>
</div>
