<div class="container mt-section podcast-content-container">
  <div class="preview-container">
    <div class="titelimage pointer playing">
      <img src="{{site.baseurl}}/assets/img/podcast/titelbild.jpg" alt="" />
    </div>
    <div class="play-preview-container">
      <p class="read-text">
        wir machen jetzt auch mal mit - wenn dich Themen wie Gründung und
        Presönlichkeitsentwicklung interessieren
      </p>
    </div>
  </div>
  <div class="text-container">
    <h2 class="headline mb-20">podcast.</h2>
    <p class="read-text mb-50">
      wir machen jetzt auch mal mit - wenn dich Themen wie Gründung und
      Presönlichkeitsentwicklung interessieren oder du einfach nur Lust auf ein
      Bierchen zum Feierabend hast, kannst du gerne bei Spotify oder YouTube
      vorbeischauen.
    </p>
    <div class="link-container ml-20">
      <h3>alle Folgen anzeigen</h3>
      <div class="plattform-container mt-20">
        <a class="plattform-link" href="spotify.de">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="plattform-link" href="youtube.com">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>
