<div class="playlist-container mt-100 mb-50">
  <!-- podcast container -->
  <div class="podcast-container">
    <div class="text-container">
      <h2 class="headline mb-20">feierabend.</h2>
    </div>
    <div class="content-container mb-50">
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">01</h4>
        <p class="title text-left">druck oder stress?</p>
        <p class="duration text-left">01:13</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">02</h4>
        <p class="title text-left">einfach ma machen.</p>
        <p class="duration text-left">01:13</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">03</h4>
        <p class="title text-left">Nichtstun.</p>
        <p class="duration text-left">01:02</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">04</h4>
        <p class="title text-left">lean into pressure.</p>
        <p class="duration text-left">01:13</p>
      </div>
    </div>
    <div class="promote-container">
      <div class="plattform-container">
        <a class="plattform-link" href="spotify.de">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="plattform-link" href="youtube.com">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p class="next-episode read-text">nächste Folge: Mo. 13.05.</p>
    </div>
  </div>

  <!-- podcast container -->
  <div class="podcast-container">
    <div class="text-container">
      <h2 class="headline mb-20">prozess.</h2>
    </div>
    <div class="content-container mb-50">
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">01</h4>
        <p class="title text-left">druck oder stress?</p>
        <p class="duration text-left">01:13</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">02</h4>
        <p class="title text-left">einfach ma machen.</p>
        <p class="duration text-left">01:13</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">03</h4>
        <p class="title text-left">Nichtstun.</p>
        <p class="duration text-left">01:02</p>
      </div>
      <div class="playlist-item pointer">
        <h4 class="pagination mr-75">04</h4>
        <p class="title text-left">lean into pressure.</p>
        <p class="duration text-left">01:13</p>
      </div>
    </div>
    <div class="promote-container">
      <div class="plattform-container">
        <a class="plattform-link" href="spotify.de">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="plattform-link" href="youtube.com">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p class="next-episode read-text">nächste Folge: Mo. 13.05.</p>
    </div>
  </div>
</div>
