<div class="row">
    <div class="simple-section-heading-container col-xs-12 flex pointer" id="projectfilter-collapse-trigger">
        <h2 class="simple-section-heading">
            Projektfilter<i class="fas fa-angle-down text-black ml-small"></i>
        </h2>
    </div>
</div>
<div class="row mb-40">
    <ul class="collapsed" id="projectfilter-list">
        <li class="projectfilter-item active" data-filter="all">Alle</li>
        <li class="projectfilter-item" data-filter=".branding">Branding</li>
        <li class="projectfilter-item" data-filter=".webdesign">Webdesign</li>
        <li class="projectfilter-item" data-filter=".video">Video</li>
        <li class="projectfilter-item" data-filter=".combat">Combat</li>
    </ul>
</div>
