<div class="row">
  <div
    id="projectfilter-collapse-trigger"
    class="simple-section-heading-container col-xs-12 flex pointer"
  >
    <h2 class="simple-section-heading">
      Projektfilter<i class="fas fa-angle-down text-black ml-small"></i>
    </h2>
  </div>
</div>
<div class="row mb-40">
  <ul id="projectfilter-list" class="collapsed">
    <li data-filter="all" class="projectfilter-item active">Alle</li>
    <li data-filter=".branding" class="projectfilter-item">Branding</li>
    <li data-filter=".webdesign" class="projectfilter-item">Webdesign</li>
    <li data-filter=".video" class="projectfilter-item">Video</li>
  </ul>
</div>
