<!DOCTYPE html>
<html lang="de">
    {% include head.html %}
    <body class="home">
        {% include loadingscreen.html %}
        <!-- scroll progress bar -->
        <div id="scroll-progress-bar"></div>
        {% include nav.html %}
        <main>
            {{ content }}
            <!-- footer dark -->
            {% include contact-footer.html %}
        </main>

        <!-- scripts -->
        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/menu.js"></script>
        <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
        <script src="{{site.baseurl}}/assets/js/loadingscreen.js"></script>
        <script src="{{site.baseurl}}/assets/js/mailserver.js"></script>
    </body>
</html>
