<!DOCTYPE html>
<html lang="de">
    {% include head.html %}
    <body class="project-{{page.slug}}">
        {% include loadingscreen.html %}
        {% assign project = site.data.projects | where: "path-name", page.slug |
    first %}
        <main>
            {% include project-nav.html %}
            <!-- Main Content-->
            <div class="project-detail-container">
                <!-- Titelbild-->
                <div class="titel-image-inner-container">
                    <picture>
                        <source media="(min-width: 900px)" srcset="{{ site.baseurl }}/assets/img/projekte/{{ project.path-name }}/titelbild.jpg" alt=""/>
                        <img src="{{ site.baseurl }}/assets/img/projekte/{{ project.path-name }}/titelbild-mobile.jpg" alt=""/>
                    </picture>
                    
                    <div class="row cta-scroll-container full-width text-center">
                        <i aria-hidden="true" class="fas fa-angle-double-down text-white"></i>
                    </div>
                </div>
                <!-- Project Detail Information-->
                <div class="project-detail-inner-container">
                    {% for section in project.sections %}
                        <!-- New Section -->
                        <div class="section-information-container">
                            <div class="section-headline-container">
                                <h2 class="project-detail-headline simple-section-heading">
                                    {{ section.heading }}
                                    
                                </h2>
                                <div class="mt-20 placeholder-texture"></div>
                            </div>
                            <div class="section-text-container">
                                <h2 class="simple-section-heading project-detail-headline expand-information-trigger">
                                    informationen
                                </h2>
                                <p class="read-text mt-20 ">
                                    {{ section.description}}
                                </p>
                            </div>
                        </div>
                        {% for content in section.content %}
                            {% if content.container == "video" %}
                                {% assign hasVideos = true %}
                                <div class="video-container mt-40">
                                    <div class="video-wrapper">
                                        <video
                                            id="my-player"
                                            class="video-js vjs-fill"
                                            preload="auto"
                                            loop
                                            controls
                                            poster="{{ site.baseurl | append: '/assets/video/projekte/' | append: project.path-name | append: '/' | append: content.filename | append: '-poster.jpg' }}"
                                            data-setup='{}'>
                                            {%- for type in content.types -%}
                                                <source src="{{ site.baseurl | append: '/assets/video/projekte/' | append: project.path-name | append: '/' | append: content.filename | append: '.' | append: type.filetype }}" type="{{ type.mimetype }}">
                                            {%- endfor -%}
                                            <p class="vjs-no-js">
                                              To view this video please enable JavaScript, and consider upgrading to a
                                              web browser that
                                              <a href="https://videojs.com/html5-video-support/" target="_blank">
                                                supports HTML5 video
                                              </a>
                                            </p>
                                        </video>
                                    </div>
                                </div>
                            {% else %}
                                <div class="{{ content.container }}-container">
                                    {% for image in content.images %}
                                        <img src="{{ site.baseurl }}/assets/img/projekte/{{ project.path-name }}/{{ image }}.jpg" alt=""/>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- New Section END -->
                    {% endfor %}

                    <!-- similar projects START-->
                    {% if project.similar-projects.size > 0 %}
                    <div class="row mt-section">
                        <div class="simple-section-heading-container col-xs-12">
                            <h2 class="simple-section-heading">
                                ähnliche projekte
                            </h2>
                        </div>
                    </div>
                    
                    <div class="row mt-20">
                        <!-- similar projects -->
                        <div class="portoflio-selection-wrapper col-xs-12">
                            <!-- similar project -->
                              {% for p in project.similar-projects %}
                              {% assign current-project = site.data.projects | where: "name", p | first %}
                              <div class="portfolio-selection-item">
                                <a class="portfolio-item-link" href="/projects/{{current-project.path-name}}">
                                  <img alt="" class="portfolio-selection-image" src="{{ site.baseurl }}/assets/img/projekte/{{ current-project.path-name }}/thumbnail.jpg"/>
                                  <div class="portfolio-selection-text-content">
                                      <h3 class="portfolio-selection-heading mb-10">
                                          {{p}}
                                      </h3>
                                      <p class="portfolio-selection-text read-text">
                                        {{current-project.short-description | truncate: 200, "(...)"}}
                                      </p>
                                  </div>
                                </a>
                              </div>
                              {% endfor %}
                            <!-- similar project -->
                            </div>
                        </div>
                        {% endif %}
                        <!-- similar projects END-->
                        <div class="row backbutton  {% if project.similar-projects.size > 0 %}mt-40 {% else %}mt-100 {% endif %} text-center">
                            <a class="link-on-white" href="/projects">
                                <h2 class="simple-section-heading">
                                    zurück zum portfolio
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- footer dark -->
                {% include footer-dark.html %}
            </main>

            <!-- scripts -->
            <script src="{{site.baseurl}}/assets/js/menu.js"></script>
            {%- if hasVideos -%}
                <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
            {%- endif -%}
        </body>
    </body>
</html>
